@font-face {
  font-family: "Poppins";
  src: url(./images/fonts/Poppins-200.woff2) format("woff2");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Poppins";
  src: url(./images/fonts/Poppins-400.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url(./images/fonts/Poppins-600.woff2) format("woff2");
  font-style: normal;
  font-weight: 600;
}

:root {
  --red: hsl(0deg, 78%, 62%);
  --cyan: hsl(180deg, 62%, 55%);
  --orange: hsl(34deg, 97%, 64%);
  --blue: hsl(212deg, 86%, 64%);

  --grey500: hsl(234deg, 12%, 34%);
  --grey400: hsl(212deg, 6%, 44%);
  --white: hsl(0deg, 0%, 100%);

  --text-preset-1: normal 600 24px / 1.4 "Poppins", sans-serif;
  --text-preset-2: normal 200 24px / 1.4 "Poppins", sans-serif;
  --text-preset-3: normal 600 20px / 1.35 "Poppins", sans-serif;
  --text-preset-4: normal 400 15px / 1.4 "Poppins", sans-serif;
  --text-preset-5: normal 400 13px / 1.6 "Poppins", sans-serif;

  --letter-spacing-extra-sm: 0.09px;
  --letter-spacing-sm: 0.1px;
  --letter-spacing-md: 0.25px;

  --shadow: 0 15px 30px -11px hsl(213deg 47% 67% / 50%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;

  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-block: 56px 46px;
  background-color: #fafafa;
}

img {
  display: block;
}

main {
  max-width: 314px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

.fv {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.heading-thin {
  font: var(--text-preset-2);
  letter-spacing: var(--letter-spacing-md);
}

.heading-bold {
  font: var(--text-preset-1);
  letter-spacing: var(--letter-spacing-md);
}

.fv__description {
  font: var(--text-preset-4);
  letter-spacing: var(--letter-spacing-sm);
}

.cards__items {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card {
  max-width: 314px;
  padding: 32px;
  box-shadow: var(--shadow);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
  }
}

.card:nth-child(1) {
  &::before {
    background-color: var(--cyan);
  }
}
.card:nth-child(2) {
  &::before {
    background-color: var(--red);
  }
}
.card:nth-child(3) {
  &::before {
    background-color: var(--orange);
  }
}
.card:nth-child(4) {
  &::before {
    background-color: var(--blue);
  }
}

.card > a {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card__title {
  font: var(--text-preset-3);
  color: var(--grey500);
}

.card__description {
  margin-block-start: 6px;
  font: var(--text-preset-5);
  letter-spacing: var(--letter-spacing-extra-sm);
  color: var(--grey400);
}

.card__img-wrapper {
  align-self: end;
  margin-block-end: 15px;
}

@media (width >= 768px) {
  :root {
    --text-preset-1: normal 600 36px / 1.4 "Poppins", sans-serif;
    --text-preset-2: normal 200 36px / 1.4 "Poppins", sans-serif;
    --text-preset-3: normal 600 20px / 1.35 "Poppins", sans-serif;
    --text-preset-4: normal 400 15px / 1.4 "Poppins", sans-serif;
  }

  main {
    max-width: 660px;
  }

  .cards__items {
    display: grid;
    grid-template-areas:
      "card2 card2 card2"
      "card1 . card3"
      "card4 card4 card4";
    grid-template-columns: 314px 32px 314px;
    gap: 32px 0;
  }

  .card:nth-child(1) {
    grid-area: card1;
  }
  .card:nth-child(2) {
    grid-area: card2;
    justify-self: center;
  }
  .card:nth-child(3) {
    grid-area: card3;
  }
  .card:nth-child(4) {
    grid-area: card4;
    justify-self: center;
  }

  .fv {
    max-width: 540px;
    align-self: center;
  }
}

@media (width >= 1440px) {
  body {
    padding-block: 102px 163px;
  }

  main {
    max-width: 1114px;
    gap: 74px;
  }
  .cards__items {
    grid-template-areas:
      "card1 card2 card4"
      "card1 . card4"
      "card1 card3 card4";
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: auto 32px auto;
    gap: 0 32px;
  }

  .card {
    max-width: 350px;
  }

  .card:nth-child(1) {
    align-self: center;
  }
  .card:nth-child(4) {
    align-self: center;
  }
}
